html{
	font-stretch: 15px;
	margin:0;
	padding:0;
}
body{
	margin:0;
	padding:0;
}

.container{
}

.icon-menu{
	display: none;
}

.b1,
.b2,
.b3{
	font-size: 3rem;
	padding:20px 0;
	text-align: center;
}
.b1{
	background-color: yellow;
}
.b2{
	background-color: blue;
}
.b3{
	background-color: red;
}

#btMenu{
	position: absolute;
	font-size: 2rem;
	background-color: rgba(255,255,255,.7);
	border-radius: 50% 50%;
	padding:10px;
	top:10px;
	left:10px;
	cursor: pointer;
}